<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/guide.css">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'></link>
    <title>E-signature</title>
</head>
<body>
    <section class="nav_section">
        <div class="nav_mid_block">
            <div class="nav_mid_left">E-signature.life</div>
            <div class="nav_mid_right"><div class="get_start_content"><img src="/styles/input.png" class="inputImg"/>開始使用</div> </div>
        </div>
    </section>

    <section class="description_section">
        <div class="description_container">
            <div class="description_title_block">這是一個設計來讓公司 、團隊實現線上簽核流程的網站。</div>
            <div class="description_content_block">降低電子簽核的使用門檻 ，減少傳統紙本流程 ，讓簽核輕鬆 E 起來是我們的目標 。</div>
        </div>
        
    </section>


    <section class="guide_section">
        <div class="permissions_block">
            <div class="permissions_title_block"></div>
        </div>
     
    </section>
    


    <!-- <div class="loading-wrapper">
        <div style="color: #f4696b" class="loading la-square-jelly-box la-2x">
            <div></div>
            <div></div>
        </div>
    </div> -->

    

    



    <script src="/guide.js" ></script>
</body>
</html>