<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'></link>
    <title>Esignature</title>
</head>
<body>
    <div class="mainBlock">
        <div class="Nav">
            <div class="choiceBlock">
                <div class="general">使用者登入</div>
                <div class="profession">創建管理者</div>
            </div>
        </div>
        <div class="pictureBlock">
            <img class="picture" src="/styles/159338753.jpg"></img>
        </div>
        <div class="sloganBlock">
            <div class="title">E-signature.life</div>
            <div class="subtitle">Easy signature in your life</div>
        </div>

        <div class="loginBlock">
            <div class="loginAccountBlock">
                <div class="loginAccountContainer">
                    <div class="loginAccountIcon"><i class="fa fa-user"></i></div>
                    <div class="loginAccountTitle">帳號：</div>
                    <div class="loginAccountInputContainer"><input type="text" class="loginAccountInput"></div>
                </div>
            </div>
            <div class="loginPasswordBlock">
                <div class="loginPasswordContainer">
                    <div class="loginPasswordIcon"><i class="fa fa-key"></i></div>
                    <div class="loginPasswordTitle">密碼：</div>
                    <div class="loginPasswordInputContainer"><input type="text" class="loginPasswordInput"></div>
                </div>

            </div>
            <div class="loginMessageBlock">
                <div class="loginMessage">test</div>
            </div>
            <div class="loginButtonBlock">
                <div class="loginButtonContainer">
                    <div class="loginLoginButton">登入</div>
                </div>
            </div>
        </div>


        <div class="registerBlock">
            <div class="registerAccountBlock">
                <div class="registerAccountContainer">
                    <div class="registerAccountIcon"><i class="fa fa-user"></i></div>
                    <div class="registerAccountTitle">帳號：</div>
                    <div class="registerAccountInputContainer"><input type="text" class="registerAccountInput"></div>
                </div>
            </div>
            <div class="registerPasswordBlock">
                <div class="registerPasswordContainer">
                    <div class="registerPasswordIcon"><i class="fa fa-key"></i></div>
                    <div class="registerPasswordTitle">密碼：</div>
                    <div class="registerPasswordInputContainer"><input type="text" class="registerPasswordInput"></div>
                </div>
            </div>
            <div class="registerEmailBlock">
                <div class="registerEmailContainer">
                    <div class="registerEmailIcon"><i class="fa fa-envelope"></i></div>
                    <div class="registerEmailTitle">信箱：</div>
                    <div class="registerEmailInputContainer"><input type="text" class="registerEmailInput"></div>
                </div>
            </div>
            <div class="registerMessageBlock">
                <div class="registerMessage">test</div>
            </div>
            <div class="registerButtonBlock">
                <div class="registerButtonContainer">
                    <div class="registerRegisterButton">註冊</div>
                </div>
            </div>
        </div>

    </div>
    <script src="/login.js" ></script>
</body>
</html>